.costing {
  padding-top: 5.6rem;
}

.costing__title {
  font-family: FuturaF;
  font-size: pxToRem(20px);
  color: #38373e;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: .8rem;
}

.costin__subtitle {
  font-family: FuturaF;
  font-size: pxToRem(20px);
  color: #38373e;
  text-align: center;
  line-height: pxToRem(28px);
  padding: 0 .4rem;
  margin-bottom: 1.6rem;
}

//<<<<<<<<<<<<<<<<< COSTING CARDS >>>>>>>>>>>>>>>>
.costing__card {
   padding: 2.1rem 0 2.1rem .6rem;
}

.costing__card-title {
  font-family: FuturaF;
  font-size: pxToRem(22px);
  color: #fff;
  margin-bottom: .5rem;
}

.costing__cart-text {
  font-family: FuturaL;
  font-size: pxToRem(15px);
  color: #fff;
  line-height: pxToRem(20px);
}

.costing__card:first-of-type {
  background-color: #dddde1;
  .costing__card-title {
    color: #38373e;
  }
  .costing__cart-text {
    color: #38373e;
  }
}

.costing__card:nth-of-type(2) {
  background-color: #74737b;
}

.costing__card:nth-of-type(3) {
  background-color: #545358;
}

.costing__card:last-of-type {
  background-color: #38373e;
}
//<<<<<<<<<<<<<<<<< END COSTING CARDS >>>>>>>>>>>>>>>>

@media (min-width: 768px) {
  .costing {
    padding-top: 3.8rem;
  }

  .costing__title {
    margin-bottom: 1.4rem;
  }

  .costing__title {
    font-size: pxToRem(31px);
  }

  .costin__subtitle {
    font-size: pxToRem(22px);
  }

  .costing__card-container {
    display: flex;
    flex-wrap: wrap;
    width: pxToRem(578px);
    margin: auto;
  }

  .costing__card {
    width: 50%;
  }

  .costin__subtitle {
    margin-bottom: 2.8rem;
  }

  .costing__card {
    padding: 2.9rem 0 0 2.2rem;
    height: 12.2rem;
  }

  .costing__card-title {
    margin-bottom: .8rem;
  }

  .costing__cart-text {
    line-height: pxToRem(23px);
    padding-right: 1rem;
  }
}

@media (min-width: 1200px) {
  .costing {
    padding-top: 9.7rem;
  }

  .costin__subtitle {
    padding: 0 7.6rem;
  }

  .costing__card-container {
    width: pxToRem(888px);
    justify-content: space-between;
  }

  .costing__card {
    width: 24%;
    height: 14.8rem;
    padding-left: 1.2rem;
  }
}
