.feedback {
  background-image: url('img/cooperation/cooperation-bg.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 3.6rem;
  padding-bottom: 4.3rem;
}

.feedback__form-title {
  font-family: FuturaF;
  font-size: pxToRem(22px);
  color: #38373e;
  line-height: pxToRem(28px);
  text-align: center;
  margin-bottom: 2.1rem;
}

.feedback__form-input-container {
  padding: 0 1.7rem;
  margin-bottom: 1.7rem;
}

.feedback {
  .main-screen__form-input {
    color: #38373e;
    border-bottom: 1px solid #38373e;
    margin-bottom: 3rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .main-screen__form-btn {
    width: 14.7rem;
    margin: auto;
  }
  ::-webkit-input-placeholder {font-family:FuturaF;font-size:pxToRem(15px);color:#38373e;}
  ::-moz-placeholder          {font-family:FuturaF;font-size:pxToRem(15px);color:#38373e;}/* Firefox 19+ */
  :-moz-placeholder           {font-family:FuturaF;font-size:pxToRem(15px);color:#38373e;}/* Firefox 18- */
  :-ms-input-placeholder      {font-family:FuturaF;font-size:pxToRem(15px);color:#38373e;}
}

@media (min-width: 768px) {
  .portfolio+.feedabeck {
    margin-top: -.4rem;
  }

  .feedback-02 {
    .feedback__form-title {
      padding: 0 4rem;
    }
  }

  .feedback {
    padding-top: 4.6rem;
    padding-bottom: 2.3rem;
  }

  .feedback__form-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .feedback .main-screen__form-input {
    width: pxToRem(235px);
    margin-bottom: 0;
  }

  .feedback .main-screen__form-btn {
    margin: 0;
    width: pxToRem(235px);
  }

  .feedback__form-title {
    margin-bottom: 2.8rem;
  }
}

@media (min-width: 1200px) {
  .feedback .form-container {
    padding: 0 12.1rem;
  }

  .feedback-02 {
    padding-bottom: 0;
  }

  .feedback .main-screen__form-input {
    width: pxToRem(207px);
    margin-bottom: 0;
  }

  .feedback .main-screen__form-btn {
    margin: 0;
    width: pxToRem(207px);
  }
}
