.location {
  padding-top: 4.9rem;
  overflow: hidden;
}

.location__title {
  font-family: FuturaF;
  font-size: pxToRem(20px);
  color: #38373e;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: .5rem;
}

.location__subtitle {
  font-family: FuturaF;
  font-size: pxToRem(20px);
  color: #38373e;
  text-align: center;
  line-height: pxToRem(24px);
  padding: 0 .5rem;
  margin-bottom: 1.2rem;
}

// LEFT SIDE
.location__left-container {
  padding: 0 .7rem;
}

.location__left-text {
  font-family: FuturaL;
  font-size: pxToRem(15px);
  color: #38373e;
  line-height: pxToRem(23px);
  margin-bottom: .9rem;
}

.location__left-geolocation {
  margin-bottom: 1.2rem;
}

.location__left-geolocation-text {
  font-family: FuturaF;
  font-size: pxToRem(13px);
  color: #38373e;
  line-height: pxToRem(21px);
  position: relative;
  margin-bottom: 1rem;
  padding-left: 1.9rem;
  i {
    position: absolute;
    top: 0;
    left: 0;
  }
  a {
    text-decoration: none;
    color: #38373e;
    &:hover {
      transition: all .5s linear;
      opacity: .5;
    }
  }
  span {
    display: inline-block;
    cursor: pointer;
    &:hover {
      transition: all .5s linear;
      opacity: .5;
    }
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

.location__left-social {
  font-family: FuturaF;
  font-size: pxToRem(13px);
  color: #38373e;
  line-height: pxToRem(19px);
  position: relative;
  padding-left: 1.9rem;
  margin-bottom: .8rem;
  i {
    position: absolute;
    top: 0;
    left: 0;
  }
  a {
    text-decoration: none;
    color: #38373e;
    &:hover {
      transition: all .5s linear;
      opacity: .5;
    }
  }
}
// END LEFT SIDE

// MAP
.map-col {
  margin-top: 2.2rem;
}

.location__map {
  display: flex;
  iframe {
    width: 100%;
    height: 336px;
  }
}

.location__map-tabs {
  display: flex;
}

.location__map-tab {
  background-color: #38373e;
  color: #fff;
  font-family: FuturaD;
  font-size: pxToRem(15px);
  text-transform: uppercase;
  width: 50%;
  padding: .66rem 0;
  text-align: center;
  span {
    opacity: .5;
  }
}

.active-tab {
  background-color: #fa5b3c;
  span {
    opacity: 1;
  }
}

// END MAP

@media (min-width: 768px) {
  .location {
    padding-top: 5.6rem;
  }

  .location__title {
    font-size: pxToRem(31px);
    margin-bottom: 1rem;
  }

  .location__subtitle {
    font-size: pxToRem(22px);
    line-height: pxToRem(28px);
    padding: 0 6rem;
    margin-bottom: 3.5rem;
  }

  .map-col {
    margin-top: .7rem;
  }

  .location__map-container {
    padding: 0 .7rem;
  }

  .section-group {
    display: flex;
    flex-direction: column;
  }

  .location__map iframe {
    height: 361px;
  }
}

@media (min-width: 1200px) {
  .location {
    padding-top: 7.7rem;
    .row {
      width: 58.8rem;
      margin: auto;
    }
  }

  .location__subtitle {
    padding: 0 16rem;
    margin-bottom: 2.9rem;
  }

  .location__left-text {
    padding-right: 1rem;
  }

  .location__left-geolocation-text {
    padding-right: 1rem;
  }

  .location__left-geolocation {
    margin-bottom: .8rem;
  }
}
