.portfolio {
  overflow: hidden;
  padding-top: 4.6rem;
  padding-bottom: 3.5rem;
}

.portfolio__title {
  font-family: FuturaF;
  font-size: pxToRem(20px);
  color: #38373e;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
  span {
    display: none;
  }
}

.portfolio__subtitle {
  font-family: FuturaF;
  font-size: pxToRem(20px);
  color: #38373e;
  text-align: center;
  line-height: pxToRem(28px);
  margin-bottom: 1.9rem;
}

.portfolio__slider-container {
  position: relative;
}

//<<<<<<<<<<<<<<<<< GALLERY >>>>>>>>>>>>>>>>
.portfolio__gallery-container {
  position: relative;
}

.portfolio__gallery-tabs {
  display: flex;
}

.portfolio__gallery-tab {
  background-color: #38373e;
  color: #fff;
  font-family: FuturaD;
  font-size: pxToRem(15px);
  text-transform: uppercase;
  width: 50%;
  padding: .66rem 0;
  text-align: center;
  span {
    opacity: .5;
  }
}

.active-tab {
  background-color: #fa5b3c;
  span {
    opacity: 1;
  }
}

.active-nav {
  fill: #fa5b3c!important;
}

.portfolio__gallery-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio__gallery-item {
  width: 49.8%;
  margin-bottom: .1rem;
  &:nth-of-type(n + 5) {
    margin-bottom: 0;
  }
}

.portfolio__slider-count {
  position: absolute;
  top: 26.2rem;
  left: .9rem;
  font-family: FuturaL;
  font-size: pxToRem(15px);
  color: #38373e;
  font-weight: bold;
}

.portfolio__slider-sum {
  position: absolute;
  top: 26.2rem;
  right: 1.6rem;
  opacity: .5;
  font-family: FuturaL;
  font-size: pxToRem(15px);
  color: #38373e;
}

.portfolio__gallery-img {
  height: 115px !important;
}
//<<<<<<<<<<<<<<<<< END GALLERY >>>>>>>>>>>>>>>>

//<<<<<<<<<<<<<<<<< PROJECT BLOCK >>>>>>>>>>>>>>>>
.gallery-col {
  margin-bottom: 8.4rem;
}

.portfolio__project-title {
  font-family: FuturaF;
  font-size: pxToRem(36px);
  color: #38373e;
  margin-bottom: 1.1rem;
}

.portfolio__project-data {
  margin-bottom: 1.6rem;
}

.portfolio__data-item {
  font-family: FuturaL;
  font-size: pxToRem(15px);
  color: #38373e;
  margin-bottom: .3rem;
  &:last-of-type {
    margin-bottom: 0;
  }
  span {
    font-family: FuturaF;
  }
}

.portfolio__project-description {
  font-family: FuturaL;
  font-size: pxToRem(15px);
  color: #38373e;
  line-height: pxToRem(23px);
}

.portfolio__project-container {
  padding: 0 0 0 .5rem;
}
//<<<<<<<<<<<<<<<<< END PROJECT BLOCK >>>>>>>>>>>>>>>>
.prtfolio__comment-container {
  padding-left: .6rem;
}

.portfolio__comment-ava-block {
  display: flex;
  align-items: center;
  margin-bottom: 1.3rem;
}

.portfolio__comment-img-container {
  margin-right: .6rem;
}

.portfolio__comment-ava-name {
  font-family: FuturaF;
  font-size: pxToRem(15px);
  color: #38373e;
  margin-bottom: .2rem;
}

.portfolio__comment-ava-comment {
  font-family: FuturaL;
  font-size: pxToRem(15px);
  color: #38373e;
}

.portfolio__comment-text {
  font-family: FuturaL;
  font-size: pxToRem(15px);
  color: #38373e;
  line-height: pxToRem(23px);
}

.project-col {
  margin-bottom: 2.4rem;
}
