@font-face {
  font-family: FuturaD;
  src: url('fonts/FuturaDemiC.woff') format("woff"),
       url('fonts/FuturaDemiC.woff2') format("woff2");
}

@font-face {
  font-family: FuturaL;
  src: url('fonts/FuturaLightC.woff') format("woff"),
       url('fonts/FuturaLightC.woff2') format("woff2");
}

@font-face {
  font-family: FuturaF;
  src: url('fonts/FuturaFuturisC.woff') format("woff"),
       url('fonts/FuturaFuturisC.woff2') format("woff2");
}
