.cooperation {
  .owl-dots {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: pxToRem(235px)!important;
    height: pxToRem(65px)!important;
    background-color: #e6e6e6;
  }

  .owl-dot {
    height: 1px;
    background-color: #fff;
    width: pxToRem(70px);
    &.active {
      background-color: #363636;
    }
  }
}

.portfolio {
  .owl-dots {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .owl-dot {
    height: 1px;
    background-color: #e3e3e3;
    width: pxToRem(40px);
    &.active {
      background-color: #363636;
    }
  }
}
